<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

  <display-name>EShop01</display-name>
  <servlet>
    <servlet-name>initEshop</servlet-name>
    <servlet-class>org.ccunix.eshop.servlet.InitEshopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>initEshop</servlet-name>
    <url-pattern>/initEshop</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>org.ccunix.eshop.util.LoginUserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/menu/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>shopCartManager</servlet-name>
    <servlet-class>org.ccunix.eshop.servlet.ShopCartManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shopCartManager</servlet-name>
    <url-pattern>/menu/shopCartManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>moreMerchandise</servlet-name>
    <servlet-class>org.ccunix.eshop.servlet.MoreMerchandiseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>moreMerchandise</servlet-name>
    <url-pattern>/moreMerchandise</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doLogin</servlet-name>
    <servlet-class>org.ccunix.eshop.servlet.DoLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doLogin</servlet-name>
    <url-pattern>/doLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>selectMerchandise</servlet-name>
    <servlet-class>org.ccunix.eshop.servlet.SelectMerchandiseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectMerchandise</servlet-name>
    <url-pattern>/selectMerchandise</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>validateUser</servlet-name>
    <servlet-class>org.ccunix.eshop.servlet.ValidateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validateUser</servlet-name>
    <url-pattern>/validateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>org.ccunix.eshop.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateUser</servlet-name>
    <servlet-class>org.ccunix.eshop.servlet.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateUser</servlet-name>
    <url-pattern>/menu/updateUser</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>initEshop</welcome-file>
  </welcome-file-list>
</web-app>